# LaTeX auxiliary files
*.aux
*.log
*.toc
*.synctex.gz
*.out
*.fls
*.fdb_latexmk
*.synctex(busy)

# Temporary files created by editors
*~
*.swp
*.swo

# Python and Jupyter Notebook files
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Environment folders
.env/
.venv/
env/
venv/
venv_*/

# Data and output files
*.csv
*.xlsx
*.h5

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/

# Package build artefacts
*.egg-info/
dist/
build/
*.dist-info/

# Docs build output
site/

scribbling/
